<div id="form-create">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h1>Agregar nuevo usuario</h1>
            </div>
            <div class="col-md-12">
                <form [formGroup]="form" (ngSubmit)="register()">

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombres</label>
                                <input class="form-control"
                                       [class.is-invalid]="nameValidate"
                                       formControlName="name"
                                       type="text">
                                <small *ngIf="nameValidate" class="text-danger">
                                    Ingrese el nombre
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input class="form-control"
                                       [class.is-invalid]="lastNameValidate"
                                       formControlName="last_name"
                                       type="text">
                                <small *ngIf="lastNameValidate" class="text-danger">
                                    Ingrese el apellido
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Identificación (C.C)</label>
                                <input class="form-control"
                                       [class.is-invalid]="dniValidate"
                                       formControlName="dni"
                                       type="text">
                                <small *ngIf="dniValidate" class="text-danger">
                                    Ingrese el número de Identificación
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Rol asociado</label>
                                <input class="form-control"
                                       [class.is-invalid]="rolValidate"
                                       formControlName="rol"
                                       type="text">
                                <small *ngIf="rolValidate" class="text-danger">
                                    Ingrese el rol
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Estado</label>
                                <input class="form-control"
                                       [class.is-invalid]="statusValidate"
                                       formControlName="status"
                                       type="text">
                                <small *ngIf="statusValidate" class="text-danger">
                                    Ingrese el estado
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input class="form-control"
                                       placeholder="contraseña"
                                       [class.is-invalid]="passwordValidate"
                                       formControlName="password"
                                       type="password">
                                <small *ngIf="passwordValidate" class="text-danger">
                                    Ingrese la contraseña
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Teléfono</label>
                                <input class="form-control"
                                       [class.is-invalid]="phoneValidate"
                                       formControlName="phone"
                                       type="tel">
                                <small *ngIf="phoneValidate" class="text-danger">
                                    Ingrese un número telefónico
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Correo electrónico</label>
                                <input class="form-control"
                                       [class.is-invalid]="emailValidate"
                                       formControlName="email"
                                       type="text">
                                <small *ngIf="emailValidate" class="text-danger">
                                    Ingrese un correo válido
                                </small>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="btn btn-block btn-primary" type="submit" value="Iniciar sesión">
                            </div>
                        </div>

                    </div>                    

                </form>
            </div>
        </div>
    </div>
</div>
